:root {
    font-family: 'Inter', sans-serif;
    --primary: rgb(1, 197, 197);
    --primarylighter: rgb(1, 216, 216);
    --secondary-font: red;
    --main-font: #434A54;
    --footer: #000000;
    font-size: 14px;
    background-color: #000000;
}
nav {
    color: white;
    background-color: black;
    display: flex;  
    border-bottom: 5px solid var(--primary);
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: sticky;
    top: 0;
    margin: auto;
    justify-content: space-between;
}


nav > h1 {
    font-family: 'Zeyada', cursive;
    font-size: x-large;
    height: 100%;
    flex: 2;
}

#git-logo img {
    width: 40px;
    height: 100%;
}


#journey-logo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}


body {
    margin: auto;
    text-align: center;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 300;
    color: red;
    font-size: x-large;
}

p {
    color: var(--main-font) ;
    font-weight: 300;
    font-size: x-large;
}
main {
    padding: 1rem;
    background-color: white;
}

footer {
    background-color: var(--footer);

}

h3 {
    font-size: x-large;
    font-weight: 500;
}

hr {
    width: 80%;
    max-width: 500px;
}

#blogs-el {
    height: 20rem;
    border: 4px solid var(--primarylighter);
    border-radius: 1rem;
    max-width: 500px;
    margin: auto;
    margin-bottom: 5rem;
}
#face-pic {
    width: 20rem;
}

#text-container-el {
    max-width: 700px;
    margin: auto;
}


#logo-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: small;
}

#logo-container > div img{
    display: flex;
    align-self: center;
}

#logo-container a {
    color: white;
}

#logo-container a:hover {
    color: rgb(124, 124, 124);
}

#copyright > p{
    margin-top: 4rem;
    font-size: large;
}
